<div class="account-page">
  <div class="account-page__inner--left">
    <h2>Staff編集</h2>
    <h5>売場スタッフの情報を編集する</h5>
    <% if admin_signed_in? %>
      <%= link_to "退職", employee_registration_path(id: @employee.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn' %>
      <br />
      <div class="account-link">
        <%= link_to "スタッフ一覧へ戻る", admins_home_path(current_admin) %>
      </div>
    <% end %>
    <% if employee_signed_in? %>
      <div class="account-link">
        <%= link_to "トップページへ戻る", employees_home_index_path %>
      </div>
    <% end %>
  </div>
  
  <div class="account-page__inner--right">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="field">
        <%= render "employees/shared/error_messages", resource: resource %>
        <%= f.hidden_field :id, value: @employee.id %>
        <% if admin_signed_in? %>
          <div class="field-label"><%= f.label :number, '社員番号' %><span class="indispensable">必須</span></div>
          <div class="field-input"><%= f.text_field :number, autofocus: true, autocomplete: "employee_number" %></div>
        <% end %>

        <div class="field-label"><%= f.label :last_name, '姓' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.text_field :last_name %></div>

        <div class="field-label"><%= f.label :first_name, '名' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.text_field :first_name %></div>

        <div class="field-label"><%= f.label :birth_date, '生年月日' %><span class="indispensable">必須</span></div>
        <div class='input-birth-wrap'>
          <%= raw sprintf(
                      f.date_select(
                        :birth_date,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 15),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>

        <div class="field-label"><%= f.label :phone_number, '電話番号' %></div>
        <div class="field-input"><%= f.telephone_field :phone_number, placeholder: "例）09012345678", maxlength: "11" %></div>

        <% if employee_signed_in? %>
          <div class="field-label"><%= f.label :email, 'メールアドレス' %></div>
          <div class="field-input"><%= f.email_field :email, autocomplete: "email" %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field-label">
            <%= f.label :password, '新しいパスワード' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %>文字以上</em>
            <% end %>
            <i>(変更したくない場合は空白にします)</i>
          </div>
          <div class="field-input"><%= f.password_field :password, autocomplete: "new-password" %></div>

          <div class="field-label"><%= f.label :password_confirmation, '新しいパスワード確認' %></div>
          <div class="field-input"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>

          <div class="field-label">
            <%= f.label :current_password, '現在のパスワード' %><br />
            <i>(変更するには現在のパスワードが必要です)</i><span class="indispensable">必須</span>
          </div>
          <div class="field-input"><%= f.password_field :current_password, autocomplete: "current-password" %></div>
        <% end %>

        <% if admin_signed_in? %>
          <div class="field-label"><%= f.label :employment_status_id, '雇用形態' %><span class="indispensable">必須</span></div>
          <div class="field-input"><%= f.collection_select(:employment_status_id, EmploymentStatus.all, :id, :name, { include_blank: "---" }, { class: "select-box" }) %></div>

          <div class="field-label"><%= f.label :salary_system_id, '給与体系' %><span class="indispensable">必須</span></div>
          <div class="field-input"><%= f.collection_select(:salary_system_id, SalarySystem.all, :id, :name, { include_blank: "---" }, { class: "select-box" }) %></div>

          <div class="field-label"><%= f.label :wages, '給与' %></div>
          <div class="field-input"><%= f.text_field :wages %></div>
        <% end %>

        <div class="actions">
          <%= f.submit "変更", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>