<div class="account-page">
  <div class="account-page__inner--left">
    <h2>Staff登録</h2>
    <h5>新しく売場スタッフを登録する</h5>
    <div class="account-link">
      <%= link_to "トップページへ戻る", :back %>
    </div>
  </div>
  <div class="account-page__inner--right">
    <%= form_with model: @employee, url: employee_registration_path, local: true do |f| %>
      <div class="field">
        <%= render "employees/shared/error_messages", model: f.object %>
        <div class="field-label">
          <%= f.label :joining_date, '入社日' %>
        </div>
        <div class="field-input">
          <%= f.date_field :joining_date, class: :form__text %>
        </div>
        <div class="field-label">
          <%= f.label :number, '社員番号' %>
        </div>
        <div class="field-input">
          <%= f.text_field :number, autofocus: true, autocomplete: "employee_number", class: :form__text %>
        </div>
        <div class="field-label">
          <%= f.label :last_name, '姓' %>
        </div>
        <div class="field-input">
          <%= f.text_field :last_name, class: :form__txst %>
        </div>
        <div class="field-label">
          <%= f.label :first_name, '名' %>
        </div>
        <div class="field-input">
          <%= f.text_field :first_name, class: :form__text %>
        </div>
        <div class="field-label">
          <%= f.label :email, 'メールアドレス' %>
        </div>
        <div class="field-input">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
        <div class="field-label">
          <%= f.label :password, 'パスワード' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </div>
        <div class="field-input">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field-label">
          <%= f.label :password_confirmation, 'パスワード確認' %>
        </div>
        <div class="field-input">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <%= f.hidden_field :admin_id, value: current_admin.id %>
        <div class="actions">
          <%= f.submit "登録", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>