<div class="account-page">
  <div class="account-page__inner--left">
    <h2>Sign up</h2>
    <h5>会社情報を登録する</h5>
    <%= render "admins/shared/links" %>
  </div>
  
  <div class="account-page__inner--right">
    <%= form_with model: @company, local: true do |f| %>
      <div class="field">
        <%= render "admins/shared/error_messages", resource: @company %>
        <div class="field-label"><%= f.label :name, '会社名' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.text_field :name, autofocus: true %></div>

        <div class="field-label"><%= f.label :postal_code, '郵便番号' %></div>
        <div class="field-input"><%=f.text_field :postal_code, placeholder: "例）123-4567", maxlength: "8" %></div>
        
        <div class="field-label"><%= f.label :address, '所在地' %></div>
        <div class="field-input"><%= f.text_field :address, placeholder: "例）東京都新宿区西新宿2-8-1" %></div>

        <div class="field-label"><%= f.label :phone_number, '電話番号' %></div>
        <div class="field-input"><%= f.telephone_field :phone_number, placeholder: "例）09012345678", maxlength: "11" %></div>

        <div class="field-label"><%= f.label :cutoff_date_id, '締日' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.collection_select(:cutoff_date_id, CutoffDate.all, :id, :name, { include_blank: "--" }, { class: "select-box" }) %></div>

        <div class="field-label"><%= f.label :opening_time, '開店時間' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.time_field :opening_time %></div>

        <div class="field-label"><%= f.label :closing_time, '閉店時間' %><span class="indispensable">必須</span></div>
        <div class="field-input"><%= f.time_field :closing_time %></div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>