<div class="account-page">
  <div class="account-page__inner--left">
    <h2>Sign up</h2>
    <h5>店舗情報を登録する</h5>
    <%= render "admins/shared/links" %>
  </div>
  
  <div class="account-page__inner--right">
    <%= form_with model: @company, local: true do |f| %>
    <%#= form_for @company do |f| %>
      <div class="field">
        <%= render "admins/shared/error_messages", resource: @company %>
        <div class="field-label">
          <%= f.label :name, '会社名' %>
        </div>
        <div class="field-input">
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field-label">
          <%= f.label :opening_time, '開店時間' %>
        </div>
        <div class="field-input">
          <%= f.time_field :opening_time %>
        </div>
        <div class="field-label">
          <%= f.label :closing_time, '閉店時間' %>
        </div>
        <div class="field-input">
          <%= f.time_field :closing_time %>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>