<div class="account-page">
  <div class="account-page__inner--left">
    <h2>Registration</h2>
    <h5>出勤パターンを登録する</h5>
    <div class="account-link">
      <%= link_to '戻る', admins_home_path(current_admin) %>
    </div>
  </div>

  <div class="account-page__inner--right">
    <% if flash[:alert].present? %>
      <div class='alert'><%= flash[:alert] %></div>
    <% end %>

    <div class='employee'>
      <div class='field-label'>
        ＜対象者＞
      </div>
      <div class='employee-number'>
        <%= "社員番号：#{@employee.number}" %>
      </div>
      <div class='employee-name'>
        <%= "名前：#{@employee.last_name}" %><%= @employee.first_name %>
      </div>
    </div>

    <%= form_with model: @new_pattern, url: employee_work_patterns_path(employee_id: @employee.id), local: true do |f| %>
      <div class='field-label'>＜出勤パターン＞</div>
      <div class='field'>
        <% @new_pattern.collection.each_with_index do |pattern, i| %>
          <%= fields_for 'employee_work_patterns[]', pattern do |field| %>
            <%= field.hidden_field :employee_id, value: @employee.id %>
            <%= field.hidden_field :work_pattern_id, value: @work_patterns[i].id %>
            <% if @employee_work_patterns.find_by(employee_id: @employee.id, work_pattern_id: @work_patterns[i].id) %>
              <div class='field-label'>
                <%= field.check_box :possibility, {checked: true}, true, false %>
                <%= @work_patterns[i].start_time %>〜<%= @work_patterns[i].end_time %>
              </div>
            <% else %>
              <div class='field-label'>
                <%= field.check_box :possibility, {}, true, false %>
                <%= @work_patterns[i].start_time %>〜<%= @work_patterns[i].end_time %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="actions">
          <%= f.submit "登録", class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>