<header class="header">
  <div class="header__bar row">
    <h1 class="grid-1"><a href="/">勤怠管理システム</a></h1>
  </div>
  <div class="nav">
    <ul class="lists-left">
      <li><%= link_to '勤務計画閲覧', "###", class: "content1" %></li>
      <li><%= link_to '勤務計画作成', "###", class: "content1" %></li>
    </ul>
    <ul class="lists-right">
      <% if admin_signed_in? %>
        <li><%= link_to '編集', edit_admin_registration_path, class: "content1" %></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "content1" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_admin_session_path, class: "content1" %></li>
        <li><%= link_to '新規登録', new_admin_registration_path, class: "content1" %></li>
      <% end %>
    </ul>
  </div>
</header>


<br />

<% if employee_signed_in? %>
  <%= link_to '担当編集', edit_employee_registration_path %>
  <%= link_to '担当ログアウト', destroy_employee_session_path, method: :delete %>
<% else %>
  <%= link_to '担当ログイン', new_employee_session_path %>
<% end %>