<header>
  <div class="header-left">
    <% if admin_signed_in? %>
      <h1><%= link_to '勤怠管理システム', root_path, class: "app-name" %></h1>
    <% end %>
    <% if employee_signed_in? %>
      <h1><%= link_to '勤怠管理システム', employees_home_index_path, class: "app-name" %></h1>
    <% end %>
  </div>

  <div class="header-right">
    <% if admin_signed_in? %>
      <div>ログイン中：</div>
      <span><%= current_admin.last_name %><%= current_admin.first_name %>
        <ul class="user-info">
          <li><%= link_to '編集', edit_admin_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
        </ul>
      </span>
    <% end %>
    <% if employee_signed_in? %>
      <div>ログイン中：</div>
      <span><%= current_employee.last_name %><%= current_employee.first_name %>
        <ul class="user-info">
          <li><%= link_to '編集', edit_employee_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_employee_session_path, method: :delete %></li>
        </ul>
      </span>
    <% end %>
  </div>
</header>