<%= render "shared/header" %>

      <h2 class="company-name"><%= @admin.company.name %></h2>
      <div class="team-desc">
        <p class="desc-text">営業時間：<%= "#{@admin.company.opening_time.strftime('%H:%M')}〜#{@admin.company.closing_time.strftime('%H:%M')}" %></p>
        <p class="desc-text">チーム人数：<%= @employees.length+1 %></p>
      </div>

<%= @company.name %><br />
<%= @company.opening_time %><br />
<%= @company.closing_time %><br />
<%= "#{@company.opening_time.strftime('%H:%M')}〜#{@company.closing_time.strftime('%H:%M')}" %><br />
<%= link_to '編集', edit_company_path(current_admin) %>

<br />

<% if @work_patterns %>
  <% @work_patterns.each do |pattern| %>
    <%= pattern.start_time %>
    <%= pattern.end_time %>
    <%= link_to '削除', company_work_pattern_path(@company, pattern), method: :delete %>
    <br />
  <% end %>
<% end %>
<%= link_to 'パターン追加', new_company_work_pattern_path(@company) %>

<%= render "shared/footer" %>