<div class='shift-page'>
  <div class='wrapper'>
    <%= render 'shared/side_bar' %>

    <div class='main'>
      <div class='main-header'>
        <h2 class='page-title'>勤務計画作成</h2>
      </div>

      <div class='main-contents'>
        <div class='search'>
          <% if flash[:alert].present? %>
            <div class='alert'><%= flash[:alert] %></div>
          <% end %>

          <%= form_with url: new_work_schedule_path, method: :get, local: true do |f| %>
            <div class='input-date-wrap'>
              <%= raw sprintf(
                          f.date_select(
                            :search_date,
                            class:'select-date',
                            use_month_numbers: true,
                            discard_day: true,
                            prompt:'--',
                            date_separator: '%s'),
                          "<p> 年 </p>") + "<p> 月 </p>" %>
              <%= f.submit "検索", class: 'search-btn' %>
            </div>
          <% end %>
        </div>

        <div class='planning-content'>
          <div class='member-content'>
            <div class='date-field'><%= "#{@year}年#{@month}月度" %></div>
            <div class='name-field'><%= @admin.last_name %></div>
            <% @employees.each do |employee| %>
              <div class='name-field'><%= employee.last_name %></div>
            <% end %>
          </div>

          <%= form_with model: @work_schedules, url: work_schedules_path, method: :post, local: true do |f| %>
            <% @work_schedules.collection.each.with_index(1) do |work_schedule, day| %>
              <div class='shift-content'>
                <%= fields_for 'work_schedules[]', work_schedule do |field| %>
                  <div class='date-field'><%= "#{day}日" %></div>
                  <div class='input-field'>
                    <% schedule = @calc_schedules.find{ |schedule| schedule[:work_date] == Date.new(@year, @month, day) && schedule[:admin_id] == @admin.id } %>
                    <%= field.hidden_field :work_date, value: Date.new(@year, @month, day) %>
                    <%= field.text_field :work_start_time, value: schedule[:work_start_time], prompt: '--', minute_step: 15, ignore_data: true, class: "field" %>〜
                    <%= field.text_field :work_end_time, value: schedule[:work_end_time], prompt: '--', minute_step: 15, ignore_data: true, class: "field" %>
                    <%= field.hidden_field :admin_id, value: @admin.id %>
                    <% unless @exist_schedules.empty? %>
                      <%= field.hidden_field :id, value: @exist_schedules.find_by(admin_id: @admin.id, work_date: Date.new(@year, @month, day)).id %>
                    <% end%>
                  </div>
                <% end %>
                <%= fields_for 'work_schedules[]', work_schedule do |field| %>
                  <% @employees.each do |employee| %>
                    <div class='input-field'>
                      <% schedule = @calc_schedules.find{ |schedule| schedule[:work_date] == Date.new(@year, @month, day) && schedule[:employee_id] == employee.id } %>
                      <%= field.hidden_field :work_date, value: Date.new(@year, @month, day) %>
                      <%= field.text_field :work_start_time, value: schedule[:work_start_time], prompt: '--', minute_step: 15, ignore_data: true, class: "field" %>〜
                      <%= field.text_field :work_end_time, value: schedule[:work_end_time], prompt: '--', minute_step: 15, ignore_data: true, class: "field" %>
                      <%= field.hidden_field :employee_id, value: employee.id %>
                      <% unless @exist_schedules.empty? %>
                        <%= field.hidden_field :id, value: @exist_schedules.find_by(employee_id: employee.id, work_date: Date.new(@year, @month, day)).id %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <% if day == @days %>
                <% break %>
              <% end %>
            <% end %>
            <%= f.hidden_field :year, value: @year %>
            <%= f.hidden_field :month, value: @month %>
            <%#= link_to '計算', calculation_work_schedules_path(year: @year, month: @month, days: @days), class: "planning-btn" %>
            <%#= f.submit '保存', class: "search-btn" %>
          <%# end %>
        </div>
      </div>

      <div class='form'>
          <%= link_to '計算', calculation_work_schedules_path(year: @year, month: @month, days: @days), class: 'btn' %>
          <%= f.submit '保存', class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>