<div class="tabs">
  <% if admin_signed_in? %>
    <input type='radio' id='company-page' name='tab-item'>
    <%= link_to '会社情報', company_path(current_admin), class: 'tab-item' %>
    <input type='radio' id='staff-page' name='tab-item'>
    <%= link_to 'スタッフ一覧', admins_home_path(current_admin), class: 'tab-item' %>
    <input type='radio' id='index-page' name='tab-item' checked>
    <%= link_to '勤務計画閲覧', work_schedules_path, class: 'tab-item' %>
    <input type='radio' id='new-page' name='tab-item'>
    <%= link_to '勤務計画作成', new_work_schedule_path, class: 'tab-item' %>
  <% end %>
  <% if employee_signed_in? %>
    <div class='employee-tabs'>
      <input type='radio' id='staff-page' name='tab-item'>
      <%= link_to 'スタッフ一覧', employees_home_path(current_employee), class: 'tab-item' %>
      <input type='radio' id='index-page' name='tab-item' checked>
      <%= link_to '勤務計画閲覧', work_schedules_path, class: 'tab-item' %>
    </div>
  <% end %>

  <div class="tab-content">
    <div class='main'>
      <div class='user-menu'>
        <% if admin_signed_in? %>
          <span><%= current_admin.last_name %><%= current_admin.first_name %>
            <ul class="menu-lists">
              <li><%= link_to '編集', edit_admin_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            </ul>
          </span>
        <% end %>
        <% if employee_signed_in? %>
          <span><%= current_employee.last_name %><%= current_employee.first_name %>
            <ul class="menu-lists">
              <li><%= link_to '編集', edit_employee_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_employee_session_path, method: :delete %></li>
            </ul>
          </span>
        <% end %>
      </div>

      <div class='search'>
        <% if flash[:error].present? %>
          <div class='alert'><%= flash[:error] %></div>
        <% end %>

        <%= form_with url: work_schedules_path, method: :get, local: true do |f| %>
          <div class='input-date-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :search_date,
                          class:'select-date',
                          use_month_numbers: true,
                          discard_day: true,
                          prompt:'--',
                          start_year: (Time.now.year - 2),
                          end_year: (Time.now.year + 2),
                          date_separator: '%s'),
                        "<p> 年 </p>") + "<p> 月 </p>" %>
            <%= f.hidden_field :year, value: @year %>
            <%= f.hidden_field :month, value: @month %>
            <%= f.submit "検索", class: 'search-btn' %>
          </div>
        <% end %>
      </div>

      <div class='schedule-content index-page'>
        <div class='date-field'>
          <div class='date-header'><%= "#{@year}年#{@month}月度" %></div>
          <div class='date'>
            <% @days.times do |i| %>
              <div class='day'><%= "#{@date[i].day}日#{@wdays[@date[i].wday]}" %></div>
              <% if i==6 %>
                <div class='work-time__week-total__desc'><%= "第1週合計" %></div>
              <% elsif i==13 %>
                <div class='work-time__week-total__desc'><%= "第2週合計" %></div>
              <% elsif i==20 %>
                <div class='work-time__week-total__desc'><%= "第3週合計" %></div>
              <% elsif i+1==@days %>
                <div class='work-time__week-total__desc'><%= "第4週合計" %></div>
              <% end %>
            <% end %>
          </div>
          <div class='work-time__month-total__desc'><%= "月末推定時間" %></div>
        </div>

        <div class='month-input-field'>
          <div class='name-header'>
            <div class='name'><%= @admin.last_name %></div>
            <div class='break'>休憩時間</div>
          </div>
          <% 4.times do |week| %>
            <div class='week-input-field'>
              <% @week_days[week].times do |day| %>
                <div class='input-field'>
                  <% unless @exist_schedules.empty? %>
                    <% exist = @exist_schedules.find{ |schedule| schedule[:work_date] == @date[day+week*7] && schedule[:admin_id] == @admin.id } %>
                    <% unless exist.nil? %>
                      <% unless exist.start_time.empty? && exist.end_time.empty? %>
                        <div class='index-field'>
                          <div class='exist-time'><%= "#{exist.start_time}〜#{exist.end_time}" %></div>
                          <div class='break-time'><%= exist.break_time %></div>
                          <div class='hidden'><%= exist.work_time %></div>
                        </div>
                      <% else %>
                        <div class='break-day'><%= "休日" %></div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class='work-time__week-total'></div>
            </div>
          <% end %>
          <div class='work-time__month-total'></div>
        </div>


        <% @employees.each do |employee| %>
          <div class='month-input-field'>
            <div class='name-header'>
              <div class='name'><%= employee.last_name %></div>
              <div class='break'>休憩時間</div>
            </div>
            <% 4.times do |week| %>
              <div class='week-input-field'>
                <% @week_days[week].times do |day| %>
                  <div class='input-field'>
                    <% unless @exist_schedules.empty? %>
                      <% exist = @exist_schedules.find{ |schedule| schedule[:work_date] == @date[day+week*7] && schedule[:employee_id] == employee.id } %>
                      <% unless exist.nil? %>
                        <% unless exist.start_time.empty? && exist.end_time.empty? %>
                          <div class='index-field'>
                            <div class='exist-time'><%= "#{exist.start_time}〜#{exist.end_time}" %></div>
                            <div class='break-time'><%= exist.break_time %></div>
                            <div class='hidden'><%= exist.work_time %></div>
                          </div>
                        <% else %>
                          <div class='break-day'><%= "休日" %></div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <div class='work-time__week-total'></div>
              </div>
            <% end %>
            <div class='work-time__month-total'></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  </div>
  <div class='form'>
  </div>
</div>