<%= render "shared/header" %>
<h2 class="planning-title">勤務計画作成</h2>
<%= render "shared/flash" %>

<%= form_with url: new_work_schedule_path, method: :get, local: true do |f| %>
  <div class='input-date-wrap'>
    <%= raw sprintf(
                f.date_select(
                  :search_date,
                  class:'select-date',
                  use_month_numbers: true,
                  discard_day: true,
                  prompt:'--',
                  date_separator: '%s'),
                "<p> 年 </p>") + "<p> 月 </p>" %>
  <%= f.submit "検索", class: "seach-btn" %>
  </div>
<% end %>

<div class="create-btn">
  <%= link_to '計算', "###", class: "planning-btn" %>
  <%= link_to '保存', "###", class: "save-btn" %>
</div>

<div class="search-content">
  <div class="member">
    <ul class="member-content">
      <li class="text2"><%= "#{@year}年#{@month}月度" %></li>
      <li class="text2"><%= @admin.last_name %></li>
      <% @employees.each do |employee| %>
        <li class="text2"><%= employee.last_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="shift">
    <% @days.times do |day| %>
      <ul class="shift-content">
        <li class="text3"><%= "#{day+1}日" %></li>        
        <li class="text3">

        </li>
        <% @employees.each do |employee| %>
          <li class="text3">

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>