<div class="tabs">
  <input type='radio' id='company-page' name='tab-item'>
  <%= link_to '会社情報', company_path(current_admin), class: 'tab-item' %>
  <input type='radio' id='staff-page' name='tab-item'>
  <%= link_to 'スタッフ一覧', admins_home_path(current_admin), class: 'tab-item' %>
  <input type='radio' id='index-page' name='tab-item'>
  <%= link_to '勤務計画閲覧', work_schedules_path, class: 'tab-item' %>
  <input type='radio' id='new-page' name='tab-item' checked>
  <%= link_to '勤務計画作成', new_work_schedule_path, class: 'tab-item' %>

  <div class="tab-content">
    <div class='main'>
      <div class='user-menu'>
        <% if admin_signed_in? %>
          <span><%= current_admin.last_name %><%= current_admin.first_name %>
            <ul class="menu-lists">
              <li><%= link_to '編集', edit_admin_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            </ul>
          </span>
        <% end %>
      </div>

      <div class='search'>
        <% if flash[:error].present? %>
          <div class='alert'><%= flash[:error] %></div>
        <% end %>

        <%= form_with url: new_work_schedule_path, method: :get, local: true do |f| %>
          <div class='input-date-wrap'>
            <%= raw sprintf(
                        f.date_select(
                          :search_date,
                          class:'select-date',
                          use_month_numbers: true,
                          discard_day: true,
                          prompt:'--',
                          start_year: Time.now.year,
                          end_year: (Time.now.year + 2),
                          date_separator: '%s'),
                        "<p> 年 </p>") + "<p> 月 </p>" %>
            <%= f.submit "検索", class: 'search-btn' %>
          </div>
        <% end %>
      </div>

      <div class='schedule-content'>
        <div class='date-field'>
          <div class='date-header'><%= "#{@year}年#{@month}月度" %></div>
          <div class='date'>
            <% @days.times do |i| %>
              <div class='day'><%= "#{@date[i].day}日#{@wdays[@date[i].wday]}" %></div>
              <% if i==6 %>
                <div class='work-time__week-total__desc'><%= "第1週合計" %></div>
              <% elsif i==13 %>
                <div class='work-time__week-total__desc'><%= "第2週合計" %></div>
              <% elsif i==20 %>
                <div class='work-time__week-total__desc'><%= "第3週合計" %></div>
              <% elsif i+1==@days %>
                <div class='work-time__week-total__desc'><%= "第4週合計" %></div>
              <% end %>
            <% end %>
          </div>
          <div class='work-time__month-total__desc'><%= "月末推定時間" %></div>
        </div>

        <%= form_with model: @work_schedules, url: work_schedules_path, method: :post, class: "staff-field", local: true do |f| %>
          <div class='month-input-field'>
            <% @work_schedules.collection.each do |work_schedule| %>
              <div class='name-header'>
                <div class='name'><%= @admin.last_name %></div>
                <div class='break'>休憩時間</div>
              </div>
              <% 4.times do |week| %>
                <div class='week-input-field'>
                  <% @week_days[week].times do |day| %>
                    <%= fields_for 'work_schedules[]', work_schedule do |field| %>
                      <div class='input-field'>
                        <%= field.hidden_field :work_date, value: @date[day+week*7], id: "work-date#{week}#{day}" %>
                        <%= field.hidden_field :admin_id, value: @admin.id, id: "admin#{week}#{day}" %>
                        <% unless @exist_schedules.blank? || @exist_schedules.find_by(admin_id: @admin.id, work_date: @date[day+week*7]).nil?  %>
                          <% exist = @exist_schedules.find_by(admin_id: @admin.id, work_date: @date[day+week*7]) %>
                          <%= field.text_field :start_time, value: exist.start_time, class: 'field', id: "start-time#{week}#{day}" %>〜
                          <%= field.text_field :end_time, value: exist.end_time, class: 'field', id: "end-time#{week}#{day}" %>
                          <%= field.text_field :break_time, value: exist.break_time, class: 'break-field', id: "break-time#{week}#{day}" %>
                          <%= field.hidden_field :work_time, value: exist.work_time, id: "work-time#{week}#{day}" %>
                          <%= field.hidden_field :id, value: exist.id, id: "id#{week}#{day}" %>
                        <% else %>
                          <%= field.text_field :start_time, class: 'field', id: "start-time#{week}#{day}" %>〜
                          <%= field.text_field :end_time, class: 'field', id: "end-time#{week}#{day}" %>
                          <%= field.text_field :break_time, class: 'break-field', id: "break-time#{week}#{day}" %>
                          <%= field.hidden_field :work_time, id: "work-time#{week}#{day}" %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                  <%= f.text_field :week_total, readonly: true, class: 'work-time__week-total', id: "work-time__week-total#{week}" %>
                </div>
              <% end %>
              <%= f.text_field :month_total, readonly: true, class: 'work-time__month-total', id: "work-time__month-total" %>
              <% break %>
            <% end %>
          </div>

          <% @work_schedules.collection.each do |work_schedule| %>
            <% @employees.each do |employee| %>
              <div class='month-input-field'>
                <div class='name-header'>
                  <div class='name'><%= employee.last_name %></div>
                  <div class='break'>休憩時間</div>
                </div>
                <% 4.times do |week| %>
                  <div class='week-input-field'>
                    <% @week_days[week].times do |day| %>
                      <%= fields_for 'work_schedules[]', work_schedule do |field| %>
                        <div class='input-field'>
                          <%= field.hidden_field :work_date, value: @date[day+week*7], id: "work-date#{week}#{day}-#{employee.id}" %>
                          <%= field.hidden_field :employee_id, value: employee.id, id: "employee-id#{week}#{day}-#{employee.id}" %>
                          <% unless @exist_schedules.blank? || @exist_schedules.find_by(employee_id: employee.id, work_date: @date[day+week*7]).nil? %>
                            <% exist = @exist_schedules.find_by(employee_id: employee.id, work_date: @date[day+week*7]) %>
                            <%= field.text_field :start_time, value: exist.start_time, class: 'field', id: "start-time#{week}#{day}-#{employee.id}" %>〜
                            <%= field.text_field :end_time, value: exist.end_time, class: 'field', id: "end-time#{week}#{day}-#{employee.id}" %>
                            <%= field.text_field :break_time, value: exist.break_time, class: 'break-field', id: "break-time#{week}#{day}-#{employee.id}" %>
                            <%= field.hidden_field :work_time, value: exist.work_time, id: "work-time#{week}#{day}-#{employee.id}" %>
                            <%= field.hidden_field :id, value: exist.id, id: "id#{week}#{day}-#{employee.id}" %>
                          <% else %>
                            <%= field.text_field :start_time, class: 'field', id: "start-time#{week}#{day}-#{employee.id}" %>〜
                            <%= field.text_field :end_time, class: 'field', id: "end-time#{week}#{day}-#{employee.id}" %>
                            <%= field.text_field :break_time, class: 'break-field', id: "break-time#{week}#{day}-#{employee.id}" %>
                            <%= field.hidden_field :work_time, id: "work-time#{week}#{day}-#{employee.id}" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <%= f.text_field :week_total, readonly: true, class: 'work-time__week-total', id: "work-time__week-total#{week}-#{employee.id}" %>
                  </div>
                <% end %>
                <%= f.text_field :month_total, readonly: true, class: 'work-time__month-total', id: "work-time__month-total#{employee.id}" %>
              </div>
            <% end %>
            <% break %>
          <% end %>
          <%= f.hidden_field :year, value: @year %>
          <%= f.hidden_field :month, value: @month %>
          <%#= f.submit '保存', class: 'btn' %>
        <%# end %>
      </div>
    </div>
  </div>

  <div class='form'>
      <%= link_to '削除', work_schedule_path(@admin.id, year: @year, month: @month, days: @days), method: :delete, class: 'btn' %>
      <%= link_to '計算', calculation_work_schedules_path(year: @year, month: @month, days: @days), class: 'btn' %>
      <%= f.submit '保存', class: 'btn' %>
    <% end %>
  </div>
</div>