<div class='shift-page'>
  <div class='wrapper'>
    <%= render 'shared/side_bar' %>

    <div class='main'>
      <div class='main-header'>
        <h2 class='page-title'>勤務計画検索</h2>
      </div>

      <div class='main-contents'>
        <div class='search'>
          <% if flash[:alert].present? %>
            <div class='alert'><%= flash[:alert] %></div>
          <% end %>

          <%= form_with url: search_work_schedules_path, method: :get, local: true do |f| %>
            <div class='input-date-wrap'>
              <%= raw sprintf(
                          f.date_select(
                            :search_date,
                            class:'select-date',
                            use_month_numbers: true,
                            discard_day: true,
                            prompt:'--',
                            date_separator: '%s'),
                          "<p> 年 </p>") + "<p> 月 </p>" %>
              <%= f.submit "検索", class: 'search-btn' %>
            </div>
          <% end %>
        </div>

        <div class='planning-content'>
          <div class='member-content'>
            <div class='date-field'><%= "#{@year}年#{@month}月度" %></div>
            <div class='name-field'><%= @admin.last_name %></div>
            <% @employees.each do |employee| %>
              <div class='name-field'><%= employee.last_name %></div>
            <% end %>
          </div>

          <% @days.times do |day| %>
            <div class='shift-content'>
              <div class='date-field'><%= "#{day+1}日" %></div>
              <div class='input-field'>
                <% @works.each do |work| %>
                  <% unless work.work_start_time.empty? && work.work_end_time.empty? %>
                    <% if work.admin_id == @admin.id && day+1 == work.work_date.day %>
                      <%#= "#{work.work_start_time.strftime('%H:%M')}〜#{work.work_end_time.strftime('%H:%M')}" %>
                      <%= "#{work.work_start_time}〜#{work.work_end_time}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% @employees.each do |employee| %>
                <div class='input-field'>
                  <% @works.each do |work| %>
                    <% unless work.work_start_time.empty? && work.work_end_time.empty? %>
                      <% if work.employee_id == employee.id && day+1 == work.work_date.day %>
                        <%= "#{work.work_start_time}〜#{work.work_end_time}" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='form'>
      </div>
    </div>
  </div>
</div>