<%= render "shared/header" %>

<h2 class="company-name"><%= @admin.company.name %></h2>

<div class="team-desc">
  <p class="desc-text">営業時間：<%= "#{@admin.company.opening_time.strftime('%H:%M')}〜#{@admin.company.closing_time.strftime('%H:%M')}" %></p>
  <p class="desc-text">チーム人数：<%= @employees.length+1 %></p>
</div>

<div class="home-contents">
  <div class="home-content">
    <div class="home-content1">社員番号</div>
    <div class="home-content2">名前</div>
    <div class="home-content3">入社日</div>
  </div>

  <div class="home-content">
    <div class="home-content1"><%= link_to @admin.number, edit_admin_registration_path %></div>
    <div class="home-content2"><%= @admin.last_name %><%= @admin.first_name %></div>
    <div class="home-content3"><%= @admin.joining_date %></div>
  </div>

  <% @employees.each do |employee| %>
    <div class="home-content">
      <div class="home-content1"><%= employee.number %></div>
      <div class="home-content2"><%= employee.last_name %><%= employee.first_name %></div>
      <div class="home-content3"><%= employee.joining_date %></div>
      <%= link_to '退職', admins_home_path(employee.id), method: :delete, class: "staff-delete-btn" %>
    </div>
  <% end %>

  <%= link_to 'スタッフを追加', new_employee_registration_path, class: "staff-new-btn" %>
</div>

<% if employee_signed_in? %>
  <%= link_to '担当編集', edit_employee_registration_path %>
  <%= link_to '担当ログアウト', destroy_employee_session_path, method: :delete %>
<% else %>
  <%= link_to '担当ログイン', new_employee_session_path %>
<% end %>

<%= render "shared/footer" %>