<div class='wrapper'>
  <%= render 'shared/side_bar' %>

  <div class='main'>
    <div class='main-header'>
      <h2 class='page-title'>スタッフ一覧</h2>
    </div>

    <div class='main-contents'>
      <div class='admin-content'>
        <div class='admin-content__block'>
          <div class='content-header'>
            <div class='number'>社員番号</div>
            <div class='name'>名前</div>
            <div class='joining-date'>入社日</div>
            <div class='employment-status'>雇用形態</div>
            <div class='salary-system'>給与体系</div>
          </div>
          <div class='member-content'>
            <div class='number'><%= link_to @admin.number, edit_admin_registration_path %></div>
            <div class='name'><%= @admin.last_name %><%= @admin.first_name %></div>
            <div class='joining-date'><%= @admin.joining_date %></div>
            <div class='employment-status'><%= @admin.employment_status.name %></div>
            <div class='salary-system'><%= @admin.salary_system.name %></div>
          </div>
        </div>
        <div class='edit-btn'>
          <%= link_to 'パターン登録', new_admin_work_pattern_path, class: 'btn' %>
        </div>
      </div>
      <% @employees.each do |employee| %>
        <div class='employee-content'>
          <div class='member-content'>
            <div class='number'><%= link_to employee.number, edit_employee_registration_path(employee_id: employee.id) %></div>
            <div class='name'><%= employee.last_name %><%= employee.first_name %></div>
            <div class='joining-date'><%= employee.joining_date %></div>
            <div class='employment-status'><%= employee.employment_status.name %></div>
            <div class='salary-system'><%= employee.salary_system.name %></div>
          </div>
          <div class='edit-btn'>
            <%= link_to 'パターン登録', new_employee_work_pattern_path(employee_id: employee.id), class: 'btn' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='form'>
      <%= link_to 'スタッフを追加', new_employee_registration_path, class: 'btn' %>
    </div>
  </div>
</div>